*backup*
*imagens*
*i386-win*
*.exe
**/lib/x86_64-linux/*
*.compiled
*.obj
cte/lib/x86_64-win64/ucteprincipal.lfm
*lib*
cte/lib/x86_64-win64/prjCTe.obj
cte/lib/x86_64-win64/prjCTe.compiled
integracao/python37.dll
*.pyc
*.ini
